/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --primary-color: #FFFFFF;
  --secondary-color: #ddbc4d;
  --accent1-color: #000000;
  --accent2-color: #F3E5B0;
  --heading-font: 'Montserrat', sans-serif;
  --paragraph-font: 'Open Sans', sans-serif;
  --nav-bg-color: var(--secondary-color);
  --nav-link-color: var(--primary-color);
  --nav-hover-link-color: var(--accent1-color);
  --nav-hover-bg-color: var(--accent2-color);
}

.logo {
  width: 150px; /* Ajusta según tus necesidades */
  height: auto;
}


body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

header {
  padding: 10px;
  background-color: var(--secondary-color);
}

p {
  padding: 10px;
}

nav {
  background-color: var(--nav-bg-color);
}

nav a {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-bg-color);
}
